<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div>
<form action="/authentication" method="post">
    
    <h1>AUTHENTICATION CODE</h1>
<input text="number" id="auth_code" name ="authentication_code" placeholder="Enter the AUTHENTICATION password you received ">
    <button type="submit">CHECK</button>
    <a href="/authentication"></a>
<br>
<br>
<br>
<p>To scan the code you need to have GOOGLE AUTHENTICATOR </p>
<p>If not then please install and then scan</p>
<br>
<br>
<br>
<center>SCAN the QRcode given below</center>
<center><img src=<%= qrvalue %> ></center>

</form>
</div>
</body>
</html>