<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/forgetEmail" method="post">
    <h1>check your email</h1>
    <div class="row mb-3">
        <div class="col mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email Address " aria-describedby="emailHelp" required>
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <button type="submit">Forget Password</button>
    </div>
    <!-- <p>to get the link For reset password</p> -->
</form>
</body>
</html>