<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>
    <!-- <div>
        <h1> hello logout page</h1>
        <p onclick=<%= clickHandler %>><a href="/login">Click Here to go to the login page</a></p>
        <p onclick=<%= clickHandler %>><a href="/profile">Click Here to go back to the profile page</a></p>
    </div> -->
    <h1> Bye, Thank you for Loging. </h1>
    <!-- <p onclick=<%= clickHandler %>>Click Me</p> -->
    <!-- <script>
        function func1(){
          console.log("I am in the click handler 1!"); 
        }
        function func2(){
          console.log("I am in the click handler 2!"); 
        }
      </script> -->
    

<div>
    <span>Go back to the Webpage! <a href="/">Click Here</a></span>
</div>
<br>
<div>
    <span>Go back to the Login Page! <a href="/login">Click Here</a></span>
</div>̉
    
</body>
</html>




