<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">

</head>
<body>

<form>
<h1>Hello Dear </h1>
<br>
<p>Welcome to the POC page </p>
<p>Thank you for the registration</p>
<br>
<p>Please check your mail box to login to your account</p>
<br>
<p>OR you can click the below link to login to your account</p>
<a href="/views/login.ejs">LogIn</a>
</form>

</body>
</html>